.date-picker-app-container {
    position: relative;
    margin: 20px 5px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    font-size: medium;
    padding: 10.5px 10px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    min-height: 43px;
    max-height: 45px;
}

.date-picker-app-box {
    border: 1px solid;
    border-radius: 5px;
}

.date-picker-app-bottom-line {
    border-radius: 0;
    border-bottom: 1px solid;
}

.date-picker-app-placeholder {
    z-index: 5;
    position: absolute;
    transition-duration: 0.1s;
    box-sizing: border-box;
    left: 0;
    transform: translate(0, -50%);
    margin: 0;
    user-select: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.date-picker-app-top-placeholder {
    z-index: 5;
    position: absolute;
    transition-duration: 0.1s;
    box-sizing: border-box;
    top: -16px;
    transform: translate(0, -50%);
    margin: 0;
    user-select: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: date-picker-placeholder-intro 0.1s;
    font-size: small;
}

@keyframes date-picker-placeholder-intro {
    0% {
        opacity: 0;
        transform: translate(0, -50%) scale(0.5);
        top: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, -50%) scale(1);
        top: -16px;
    }
}

.date-picker-app-placeholder p {
    margin: 0;
    margin: 0 10px;
    width: min-content;
}

.date-picker-app-input {
    z-index: 1;
    width: 100%;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 100%;
    line-height: normal;
    padding: 0 10px;
    margin: 0;
    text-align: inherit;
    display: flex;
    align-items: center;
}

.date-picker-app-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.appdland-ui-datepickerapp-error-message {
    position: absolute;
    left: 10px;
    top: 30px;
    color: red;
}