.date-picker-app-container {
    position: relative;
    margin: 20px 5px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    font-size: medium;
    padding: 10.5px 10px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    max-height: 45px;
}

.date-picker-app-box{
    border: 1px solid;
    border-radius: 5px;
}

.date-picker-app-bottom-line{
    border-radius: 0;
    border-bottom: 1px solid;
}

.date-picker-app-placeholder {
    z-index: 2;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    padding: 0 10px;
    transform: translate(0, -50%);
    transition-duration: 0.1s;
    height: 60%;
    display: flex;
    align-items: center;
}

.date-picker-app-placeholder p {
    margin: 0;
    width: fit-content;
}

.date-picker-app-input {
    z-index: 1;
    width: 100%;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.date-picker-app-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.appdland-ui-datepickerapp-error-message{
    position: absolute;
    left: 10px;
    top: 30px;
    color: red;
}