.appdland-ui-inputapp-container{
    position: relative;
    cursor: text;
    margin: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    max-height: 45px;
    box-sizing: border-box;
}

.appdland-ui-inputapp-container-box{
    border: 1px solid;
}

.appdland-ui-inputapp-container-bottom-line{
    border-bottom: 1px solid;
}

.appdland-ui-inputapp-placeholder {
    z-index: 5;
    position: absolute;
    padding: 0 10px;
    transition-duration: 0.1s;
    box-sizing: border-box;
    transform: translate(0, -50%);
    margin: 0;
    user-select: none;
}

.appdland-ui-inputapp-money-symbol {
    z-index: 3;
    margin: 0;
    margin-left: 7px;
    margin-right: 2px;
    margin-bottom: 3px;
    text-align: center;
    display: flex;
    align-items: center;
}

.appdland-ui-inputapp-input{
    z-index: 2;
    border: none;
    outline: none;
    border-radius: 5px;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
}

.appdland-ui-inputapp-decimal{
    z-index: 4;
    margin-bottom: -2px;
    border: none;
    outline: none;
    font-size: 11px;
    background: none;
}

.inputgb-decimal::placeholder{
    opacity: 0.5;
}

.appdland-ui-inputapp-percentage-symbol{
    z-index: 4;
    margin: 0;
    margin-left: 2px;
    font-size: small;
}

.appdland-ui-inputapp-error-message{
    position: absolute;
    left: 10px;
    top: 30px;
    color: red;
}