.popup-yes-no-back{
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    user-select: none;
}
.popup-yes-no{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.popup-yes-no h1{
    text-align: center;
    font-size: medium;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.popup-yes-no p{
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

.popup-yes-no-buttons{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    width: 60%;
    justify-self: center;
    align-self: center;
}

@media (max-width: 600px){
    .popup-yes-no{
        width: 90%;
    }

    .popup-yes-no p{
        font-size: small;
    }
    .popup-yes-no-buttons{
        width: 70%;
    }
}