.appdland-ui-selectapp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 5px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    user-select: none;
    max-height: 45px;
}

.appdland-ui-selectapp-main-box {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: medium;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.appdland-ui-selectapp-main-box-box {
    border: 1px solid;
}

.appdland-ui-selectapp-main-box-bottom-line {
    border-bottom: 1px solid;
}

.appdland-ui-selectapp-placeholder {
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.1s;
    margin: 0;
    padding: 0 10px;
}

.appdland-ui-selectapp-option-selected {
    padding: 10px;
    margin: 0;
}

.appdland-ui-selectapp-option-ghost {
    color: transparent;
}

.appdland-ui-selectapp-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
}

.appdland-ui-selectapp-arrow img{
    width: 15px;
    transition-duration: 0.2s;
}

.appdland-ui-selectapp-options-box {
    position: absolute;
    top: 100%;
    z-index: 100;
    background-color: white;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.appdland-ui-selectapp-options-box p {
    padding: 0 20px;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

.appdland-ui-selectapp-options-box p:hover {
    background-color: rgb(236, 236, 236);
}

.appdland-ui-selectapp-options-box p:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.appdland-ui-selectapp-options-box p:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: none;
}
.appdland-ui-selectapp-options-placeholder{
    padding: 0 20px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid lightgray;
    font-style: italic;
}